* {
    margin: 0;
    padding: 0;
}

#mainContainer {
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: aqua;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 20px;
}

#mainContent {
    display: flex;
    height: fit-content;
    flex-grow: 1;
}

#sidebar {
    width: 200px;
    /* height: 100%; */
    background-color: lightpink;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

button {
    padding: 5px 10px;
    /* border-radius: 10px; */
}

#content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
    flex-grow: 1;
    background-image: linear-gradient(180deg, lightyellow, lightgrey);
}

footer {
    display: inline-block;
    background-color: yellow;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.card {
    background-color: white;
    /* border: 1px solid red; */
    border-radius: 5px;
    /* height: 80px; */
    margin: 20px;
    padding: 20px;
    padding-bottom: 50px;
    position: relative;
}

input[type=text] {
    background-color: transparent;
    border: none;
    border-bottom: solid 1px black;
    width: 60%;
    margin-right: 10px;
}

input[type=text]:focus-visible {
    outline: none;
}

#addTitleButton,
#changeTitleButton {
    background-color: rgba(211, 211, 211, 0.3);
    border: none;
}

.toDoSpace {
    border: solid 1px lightgray;
    /* height: 70%; */
}

.ToDo {
    background-color: aqua;
    border: solid 1px gray;
    /* height: 30px; */
}

.deleteProjectButton {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.form-popup {
    display: none;
    position: relative;
    bottom: 0;
    /* right: 15px; */
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    padding: 5px;
}

#formHeading, input[type=submit] {
    grid-column: span 2;
}

form > input[type=text] {
    width: 100%;
    margin: 0;
}

.displayBlock {
    display: block !important;
}

#delValidation {
    /* display: none; */
    position: absolute;
    width: max-content;
    background-color: #ffffff;
    bottom: 10px;
    right: 20px;
    border: 5px solid red;
    z-index: 10;
    padding: 10px;
}